/**
 * Variables
 */
$green: #839D32;
$red: #E84B41;
$blue: #5A98CD;
$yellow: #ECA43B;
$font-stack: -apple-system, 
            BlinkMacSystemFont, 
            "Segoe UI", 
            Roboto, 
            Oxygen-Sans, 
            Ubuntu, 
            Cantarell, 
            "Helvetica Neue", 
            sans-serif;

/**
 * Includes
 */
@import 'normalize';
@import 'base';
